<div>

  <div class="container">
    <div class="row">
      <%@cocktails.each do |cocktail|  %>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
      </div>
      <% end %>
    </div>
  </div>



  <%= link_to "go back to cocktail list", cocktails_path, class: "btn btn-primary" %>
  <%= link_to "add a new cocktail", new_cocktail_path, class: "btn btn-primary" %>
</div>
