<div class="card card-image">
  <div class="card-category"><%=  cocktail.name %></div>
  <div class="card-description">
    <p></p>
  </div>
  <div class="card-trash">
    <%= link_to cocktail_path(cocktail),
      method: :delete,
      data: { confirm: "Are you sure?" } do%>
      <i class="far fa-trash-alt"></i>
      <% end %>
  </div>
  <%= link_to cocktail.name, cocktail_path(cocktail), class: "card-link" %>
</div>
