.ingredient {
  height: 100px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.2);
  background-size: cover !important;
  background-position: center;
  color: #B52B65;
  position: relative;
  border: 1px solid #E8C644;
  margin: 10px;
}

.ingredient-trash {
  z-index: 5;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
