.card {
  min-height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.2);
  background-size: cover !important;
  background-position: center;
  color: #B52B65;
  position: relative;
  margin: 10px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
  color: #B52B65;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.card-image {
  background-image: asset-url('cocktail_example.jpg');
  background-size: cover;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}

.card-trash {
  z-index: 5;
  position: absolute;
  top: 10px;
  right: 10px;
}
